.header-top-panel {
    background-color: rgba(0, 0, 0, 0.5);
}

.header-h1 {
}

.header {
    background-image: url("/images/dai-header.jpg");

}

.state-icon {
    width: 30px;
    height: 30px;
}

.link {
    text-decoration: underline;
}

[x-cloak] {
    display: none !important;
}
